<form class="mt-4" method="post" action="/courses/handle-form-actions/trash">
  <div>
    <a href="/me/stored/course">Danh sách hóa học</a>
    <h4>khóa học đã xóa</h4>
  </div>

  <!-- btn checkbox -->
  <div class="d-flex align-items-center mt-2 mb-2">

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
    </div>

    <div class="form-group ml-2 mr-2">
      <select class="form-control" name="action" required>
        <option value="">-- Chọn tất cả --</option>
        <option value="delete">Xóa Vĩnh Viễn</option>
        <option value="restore">Khôi Phục Toàn Bộ</option>
      </select>
    </div>

    <button class="btn btn-primary check-all-submit-btn" disabled>Thực hiện</button>

  </div>

    <div class="text-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">tên khóa học</th>
                <th scope="col">trình độ</th>
                <th scope="col" colspan="2">thời gian xóa</th>
              </tr>
            </thead>
            <tbody>
                {{#each courses}}
              <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <td scope="row">{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id={{this._id}}>Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id={{this._id}}>Xóa vĩnh viễn</a>
                </td>
              </tr>
              {{else}}
              <tr>
                    <td colspan="5">Thùng rác rống.
                        <a href="/me/stored/course">Danh sách khóa học</a>
                    </td>
              </tr>
                {{/each}}
            </tbody>
          </table>
    </div>
</form>

<!-- confirm delete modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác Nhận Xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body">
        ...
      </div> -->
      <div class="modal-footer">
        <button id="btn-delete-couser" type="button" class="btn btn-primary">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form" ></form>
<form method="POST" name="restore-course-form" ></form>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){

        var id;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCouser = document.getElementById('btn-delete-couser');
        var restoreBtn = $('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var couseItemsCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        //when dialog cofirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) 
                id = button.data('id')
            });

        //when delete couser btn clicked
        btnDeleteCouser.onclick = function() {
            deleteForm.action = /courses/ + id + '/force?_method=DELETE';
            deleteForm.submit();
        }

        //Restore btn click
        restoreBtn.click(function (e) {
          e.preventDefault();
          var courseId= $(this).data('id');
          restoreForm.action = /courses/ + courseId + '/restore?_method=PATCH';
          restoreForm.submit();
        })
        
        //when btn checkbox change
        checkboxAll.click(function () {
          var isCheckedAll = $(this).prop('checked');
          couseItemsCheckbox.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        })

        //when course item checkbox change
        couseItemsCheckbox.click(function () {
          var isCheckedAll = couseItemsCheckbox.length === $('input[name="courseIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        })

        //Re-render check all submit button
        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="courseIds[]"]:checked').length;

          if(checkedCount) {
            checkAllSubmitBtn.attr('disabled', false);
          } else {
            checkAllSubmitBtn.attr('disabled', true);
          }
        }
    })  
</script>